.banner {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}
.App {
  margin-left: 300px;
  margin-top: 50px;
  background-color: #f55353;
  padding-left: 20px;
  width: 650px;
}
.India {
  font-size: 40px;
  color: #4700d8;
}
.banner > div {
  font-size: 22px;
  font-weight: 700;
  color: #4700d8;
  letter-spacing: 1px;
}
.banner > div > h1 {
  color: #f1d00a;
}
.addScore,
.addWicket,
.addBall {
  font-size: 22px;
  font-weight: 800;
  color: #9900f0;
}
.addScore > button,
.addWicket > button,
.addBall > button {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  background-color: #143f6b;
  color: #f6f54d;
}
.status {
  font-size: 30px;
  color: #d9ce3f;
}
