.banner {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}
.App {
  margin-left: 300px;
  margin-top: 50px;
  background-color: yellowgreen;
  padding-left: 20px;
  width: 650px;
}
.India {
  font-size: 40px;
  color: aquamarine;
}
.banner > div {
  font-size: 22px;
  font-weight: 700;
  color: lightcoral;
  letter-spacing: 1px;
}
.banner > div>h1{
  color: palegreen;
}
.addScore,
.addWicket,
.addBall {
  font-size: 20px;
  font-weight: 600;
  color: rgb(204, 17, 17);
}
.addScore > button,
.addWicket > button,
.addBall > button {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  background-color: aqua;
  color: coral;
}
.status{
  font-size: 30px;
  color: lightseagreen;
}